    <div class="section section-tabs">
            <div class="container">
                <!-- nav tabs -->
                <div id="nav-tabs">
                    <h3>Navigation Tabs</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <h3><small>Tabs with Icons on Card</small></h3>

                            <!-- Tabs with icons on Card -->
                            <div class="card card-nav-tabs">
                                <div class="header header-success">
                                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="active">
                                                    <a href="#profile" data-toggle="tab">
                                                        <i class="material-icons">search</i> Localização
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#messages" data-toggle="tab">
                                                        <i class="material-icons">warning</i> Restrição
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#settings" data-toggle="tab">
                                                        <i class="material-icons">supervisor_account</i> Mista
                                                    </a>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="tab-content text-center">
                                        <div class="tab-pane active" id="profile">
                                            <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                        </div>
                                        <div class="tab-pane" id="messages">
                                            <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                                        </div>
                                        <div class="tab-pane" id="settings">
                                            <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tabs with icons on Card -->

                        </div>
                        <div class="col-md-6">
                            <h3><small>Tabs on Plain Card</small></h3>

                            <!-- Tabs on Plain Card -->
                            <div class="card card-nav-tabs card-plain">
                                <div class="header header-danger">
                                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="active"><a href="#home" data-toggle="tab">Localização</a></li>
                                                <li><a href="#updates" data-toggle="tab">Restrição</a></li>
                                                <li><a href="#history" data-toggle="tab">Mista</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="tab-content text-center">
                                        <div class="tab-pane active" id="home">
                                            <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                        </div>
                                        <div class="tab-pane" id="updates">
                                            <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                        </div>
                                        <div class="tab-pane" id="history">
                                            <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tabs on plain Card -->
                        </div>
                    </div>
                </div>
                <!-- end nav tabs -->

                <!-- nav pills -->
                <div id="navigation-pills">
                    <div class="title">
                        <h3>Navigation Pills</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3><small> Horizontal tabs</small></h3>
                            <ul class="nav nav-pills nav-pills-rose">
                                <li class="active"><a href="#pill1" data-toggle="tab">Localização</a></li>
                                <li><a href="#pill2" data-toggle="tab">Restrição</a></li>
                                <li><a href="#pill3" data-toggle="tab">Mista</a></li>
                            </ul>
                            <div class="tab-content tab-space">
                                <div class="tab-pane active" id="pill1">
                                    Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                    <br>
                                    <br> Dramatically visualize customer directed convergence without revolutionary ROI.
                                </div>
                                <div class="tab-pane" id="pill2">
                                    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                    <br>
                                    <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                </div>
                                <div class="tab-pane" id="pill3">
                                    Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                    <br>
                                    <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3><small> Vertical tabs</small></h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="nav nav-pills nav-pills-rose nav-stacked">
                                        <li class="active"><a href="#tab1" data-toggle="tab">Localização</a></li>
                                        <li><a href="#tab2" data-toggle="tab">Restrição</a></li>
                                        <li><a href="#tab3" data-toggle="tab">Mista</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                            <br>
                                            <br> Dramatically visualize customer directed convergence without revolutionary ROI.
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                            <br>
                                            <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                            <br>
                                            <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="title">
                        <h3><small>With Icons</small></h3>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="nav nav-pills nav-pills-icons" role="tablist">
                                <!--
	    							color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
	                            -->
                                <li>
                                    <a href="#dashboard-1" role="tab" data-toggle="tab">
                                        <i class="material-icons">dashboard</i> Dashboard
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#schedule-1" role="tab" data-toggle="tab">
                                        <i class="material-icons">schedule</i> Schedule
                                    </a>
                                </li>
                                <li>
                                    <a href="#tasks-1" role="tab" data-toggle="tab">
                                        <i class="material-icons">list</i> Tasks
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tab-space">
                                <div class="tab-pane active" id="dashboard-1">
                                    Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                    <br>
                                    <br> Dramatically visualize customer directed convergence without revolutionary ROI.
                                </div>
                                <div class="tab-pane" id="schedule-1">
                                    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                    <br>
                                    <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                </div>
                                <div class="tab-pane" id="tasks-1">
                                    Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                    <br>
                                    <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul class="nav nav-pills nav-pills-icons nav-stacked" role="tablist">
                                        <!--
	            							color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
	                                    -->
                                        <li class="active">
                                            <a href="#dashboard-2" role="tab" data-toggle="tab">
                                                <i class="material-icons">dashboard</i> Dashboard
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#schedule-2" role="tab" data-toggle="tab">
                                                <i class="material-icons">schedule</i> Schedule
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="dashboard-2">
                                            Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                            <br>
                                            <br> Dramatically visualize customer directed convergence without revolutionary ROI.
                                        </div>
                                        <div class="tab-pane" id="schedule-2">
                                            Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                            <br>
                                            <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--end nav pills -->
            </div>
        </div>
