<div class="col-md-6">
    <div class="title">
        <h3>Tooltips</h3>
    </div>

    <button type="button" class="btn btn-default btn-tooltip" data-toggle="tooltip" data-placement="left" title="" data-container="body" data-original-title="Tooltip on left">On left</button>

    <button type="button" class="btn btn-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="Tooltip on top">On top</button>

    <button type="button" class="btn btn-default btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="Tooltip on bottom">On bottom</button>

    <button type="button" class="btn btn-default btn-tooltip" data-toggle="tooltip" data-placement="right" title="" data-container="body" data-original-title="Tooltip on right">On right</button>

    <div class="clearfix"></div>
    <br>
    <br>
</div>