<div class="row">
    <div class="col-md-3">
        <div class="title">
            <h3>Dropdown &amp; Dropup</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="dropdown">
                  <button href="#pablo" class="dropdown-toggle btn btn-primary btn-round" data-toggle="dropdown">Dropdown <b class="caret"></b></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="#pablo">Action</a></li>
                    <li><a href="#pablo">Another action</a></li>
                    <li><a href="#pablo">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#pablo">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#pablo">One more separated link</a></li>
                  </ul>
                </span>
            </div>
            <div class="col-md-6">
                <span class="dropup">
              <button href="#pablo" class="dropdown-toggle btn btn-primary btn-round" data-toggle="dropdown">Dropup <b class="caret"></b></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Dropdown header</li>
                <li><a href="#pablo">Action</a></li>
                <li><a href="#pablo">Another action</a></li>
                <li><a href="#pablo">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#pablo">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#pablo">One more separated link</a></li>
              </ul>
            </span>
            </div>
        </div>
    </div>
</div>