<div class="col-md-6">
    <div class="title">
        <h3>Datepicker</h3>
    </div>

    <div class="row">

        <div class="col-md-5 col-xs-12">
            <h5>Date Range</h5>
            <!-- Para modificar o lado que abre o drop é so usar a classe do lado desejado: pull-right ou pull-left-->
            <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h5>Date and Time</h5>
            <input style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%" type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
        </div>
    </div>