   <div class="col-md-6">
                            <div class="title">
                                <h3>Pagination</h3>
                            </div>

                            <ul class="pagination pagination-primary">
                                <!-- color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger" -->
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">...</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                                <li><a href="javascript:void(0);">6</a></li>
                                <li class="active"><a href="javascript:void(0);">7</a></li>
                                <li><a href="javascript:void(0);">8</a></li>
                                <li><a href="javascript:void(0);">9</a></li>
                                <li><a href="javascript:void(0);">...</a></li>
                                <li><a href="javascript:void(0);">12</a></li>
                            </ul>

                            <ul class="pagination pagination-success">
                                <li><a href="javascript:void(0);"> prev</a></li>
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li class="active"><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                                <li><a href="javascript:void(0);">next </a></li>
                            </ul>

                            <ul class="pagination pagination-danger">
                                <li><a href="javascript:void(0);"> prev</a></li>
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li class="active"><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                                <li><a href="javascript:void(0);">next </a></li>
                            </ul>

                            <ul class="pagination pagination-warning">
                                <li><a href="javascript:void(0);"> prev</a></li>
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li class="active"><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                                <li><a href="javascript:void(0);">next </a></li>
                            </ul>

                            <ul class="pagination pagination-info">
                                <li><a href="javascript:void(0);"> prev</a></li>
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li class="active"><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                                <li><a href="javascript:void(0);">next </a></li>
                            </ul>

                        </div>