<div class="col-md-6">
    <div class="title">
        <h3>Popovers</h3>
    </div>

    <button type="button" class="btn btn-default" data-toggle="popover" data-placement="left" title="" data-content="Here will be some very useful information about his popover.<br> Here will be some very useful information about his popover." data-container="body" data-original-title="Popover on left">On left</button>

    <button type="button" class="btn btn-default" data-toggle="popover" data-placement="top" title="" data-content="Here will be some very useful information about his popover." data-container="body" data-original-title="Popover on top">On top</button>

    <button type="button" class="btn btn-default" data-toggle="popover" data-placement="bottom" title="" data-content="Here will be some very useful information about his popover." data-container="body" data-original-title="Popover on bottom">On bottom</button>

    <button type="button" class="btn btn-default" data-toggle="popover" data-placement="right" title="" data-content="Here will be some very useful information about his popover." data-container="body" data-original-title="Popover on right">On right</button>

</div>