<div class="col-md-4">
    <div class="title">
        <h3>Sliders</h3>
    </div>

    <div id="sliderRegular" class="slider noUi-target noUi-ltr noUi-horizontal noUi-connect">
        <div class="noUi-base">
            <div class="noUi-origin noUi-background" style="left: 40%;">
                <div class="noUi-handle noUi-handle-lower"></div>
            </div>
        </div>
    </div>
    <div id="sliderDouble" class="slider slider-info noUi-target noUi-ltr noUi-horizontal noUi-background">
        <div class="noUi-base">
            <div class="noUi-origin noUi-connect" style="left: 20%;">
                <div class="noUi-handle noUi-handle-lower"></div>
            </div>
            <div class="noUi-origin noUi-background" style="left: 60%;">
                <div class="noUi-handle noUi-handle-upper"></div>
            </div>
        </div>
    </div>
</div>