<div class="col-md-6">
    <div class="title">
        <h3>Tags</h3>
    </div>
    <input name="tagsinput" class="tagsinput tag-rose" value="Minimal, Light, New, Friends" style="display: none;" id="tags1488808376082">
    <div id="tags1488808376082_tagsinput" class="tagsinput tag-rose "><span class="tag"><span>Minimal&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Light&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>New&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Friends&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span>
        <div class="tagsinput-add-container" id="tags1488808376082_addTag">
            <div class="tagsinput-add"></div>
            <input id="tags1488808376082_tag" value="" data-default="" style="color: rgb(102, 102, 102); width: 38px;">
        </div>
    </div>
    <br/>
    <div id="tags1488808376082_tagsinput" class="tagsinput tag-info "><span class="tag"><span>Minimal&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Light&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>New&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Friends&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span>
        <div class="tagsinput-add-container" id="tags1488808376082_addTag">
            <div class="tagsinput-add"></div>
            <input id="tags1488808376082_tag" value="" data-default="" style="color: rgb(102, 102, 102); width: 38px;">
        </div>
    </div>
    <br/>
    <div id="tags1488808376082_tagsinput" class="tagsinput tag-success "><span class="tag"><span>Minimal&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Light&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>New&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Friends&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span>
        <div class="tagsinput-add-container" id="tags1488808376082_addTag">
            <div class="tagsinput-add"></div>
            <input id="tags1488808376082_tag" value="" data-default="" style="color: rgb(102, 102, 102); width: 38px;">
        </div>
    </div>
    <br/>
    <div id="tags1488808376082_tagsinput" class="tagsinput tag-warning "><span class="tag"><span>Minimal&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Light&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>New&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Friends&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span>
        <div class="tagsinput-add-container" id="tags1488808376082_addTag">
            <div class="tagsinput-add"></div>
            <input id="tags1488808376082_tag" value="" data-default="" style="color: rgb(102, 102, 102); width: 38px;">
        </div>
    </div>
    <br/>
    <div id="tags1488808376082_tagsinput" class="tagsinput tag-danger "><span class="tag"><span>Minimal&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Light&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>New&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span><span class="tag"><span>Friends&nbsp;&nbsp;</span>
        <a class="tagsinput-remove-link"></a>
        </span>
        <div class="tagsinput-add-container" id="tags1488808376082_addTag">
            <div class="tagsinput-add"></div>
            <input id="tags1488808376082_tag" value="" data-default="" style="color: rgb(102, 102, 102); width: 38px;">
        </div>
    </div>

    <!-- You can change "tag-primary" with with "tag-info", "tag-success", "tag-warning","tag-danger" -->
</div>