   <div class="section">
                <div class="container">
                    <div class="title">
                        <h3>Footer Areas</h3>
                    </div>
                </div>

                <div id="footer-areas">

                    <!-- SIMPLE FOOTER WITH SOCIAL AND BRAND -->

                    <footer class="footer footer-white">
                        <div class="container">
                            <a class="footer-brand" href="http://www.creative-tim.com">Material Kit PRO</a>

                            <ul class="pull-center">
                                <li>
                                    <a href="#pablo">
	            						Creative Tim
	            					</a>
                                </li>
                                <li>
                                    <a href="#pablo">
	            					   About Us
	            					</a>
                                </li>
                                <li>
                                    <a href="#pablo">
	            					   Blog
	            					</a>
                                </li>
                                <li>
                                    <a href="#pablo">
	            						Licenses
	            					</a>
                                </li>
                            </ul>

                            <ul class="social-buttons pull-right">
                                <li>
                                    <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-simple btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-simple btn-dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-just-icon btn-simple btn-google">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </footer>

                    <!-- END SIMPLE FOOTER WITH SOCIAL AND BRAND -->

                    <br>
                    <br>

                    <!-- SIMPLE FOOTER -->

                    <footer class="footer">
                        <div class="container">
                            <nav class="pull-left">
                                <ul>
                                    <li>
                                        <a href="http://www.creative-tim.com">
	            							Creative Tim
	            						</a>
                                    </li>
                                    <li>
                                        <a href="http://presentation.creative-tim.com">
	            						   About Us
	            						</a>
                                    </li>
                                    <li>
                                        <a href="http://blog.creative-tim.com">
	            						   Blog
	            						</a>
                                    </li>
                                    <li>
                                        <a href="http://www.creative-tim.com/license">
	            							Licenses
	            						</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="copyright pull-right">
                                ©
                                <script async="" src="//www.google-analytics.com/analytics.js"></script>
                                <script style="">
                                    document.write(new Date().getFullYear())
                                </script>2017, made with <i class="material-icons">favorite</i> by Creative Tim for a better web.
                            </div>
                        </div>
                    </footer>

                    <!-- END SIMPLE FOOTER -->

                    <br>
                    <br>

                    <!-- BLACK SIMPLE FOOTER WITH SOCIAL AND BRAND -->

                    <footer class="footer footer-black">
                        <div class="container">
                            <a class="footer-brand" href="#pablo">Material Kit PRO</a>


                            <ul class="pull-center">
                                <li>
                                    <a href="#pablo">
	            					   Blog
	            					</a>
                                </li>
                                <li>
                                    <a href="#pablo">
	            						Presentation
	            					</a>
                                </li>
                                <li>
                                    <a href="#pablo">
	            					   Discover
	            					</a>
                                </li>
                                <li>
                                    <a href="#pablo">
	            						Payment
	            					</a>
                                </li>
                                <li>
                                    <a href="#pablo">
	            						Contact Us
	            					</a>
                                </li>
                            </ul>

                            <ul class="social-buttons pull-right">
                                <li>
                                    <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-simple">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-simple">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-just-icon btn-simple">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </footer>

                    <!-- END BLACK SIMPLE FOOTER WITH SOCIAL AND BRAND -->

                    <br>
                    <br>

                    <!--     *********    BIG FOOTER     *********      -->

                    <footer class="footer footer-black footer-big">
                        <div class="container">

                            <div class="content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5>About Us</h5>
                                        <p>Creative Tim is a startup that creates design tools that make the web development process faster and easier. </p>
                                        <p>We love the web and care deeply for how users interact with a digital product. We power businesses and individuals to create better looking web projects around the world. </p>
                                    </div>

                                    <div class="col-md-4">
                                        <h5>Social Feed</h5>
                                        <div class="social-feed">
                                            <div class="feed-line">
                                                <i class="fa fa-twitter"></i>
                                                <p>How to handle ethical disagreements with your clients.</p>
                                            </div>
                                            <div class="feed-line">
                                                <i class="fa fa-twitter"></i>
                                                <p>The tangible benefits of designing at 1x pixel density.</p>
                                            </div>
                                            <div class="feed-line">
                                                <i class="fa fa-facebook-square"></i>
                                                <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <h5>Instagram Feed</h5>
                                        <div class="gallery-feed">
                                            <img src="http://demos.creative-tim.com/material-kit-pro/assets/img/faces/card-profile6-square.jpg" class="img img-raised img-rounded" alt="">
                                            <img src="http://demos.creative-tim.com/material-kit-pro/assets/img/faces/christian.jpg" class="img img-raised img-rounded" alt="">
                                            <img src="http://demos.creative-tim.com/material-kit-pro/assets/img/faces/card-profile4-square.jpg" class="img img-raised img-rounded" alt="">
                                            <img src="http://demos.creative-tim.com/material-kit-pro/assets/img/faces/card-profile1-square.jpg" class="img img-raised img-rounded" alt="">

                                            <img src="http://demos.creative-tim.com/material-kit-pro/assets/img/faces/marc.jpg" class="img img-raised img-rounded" alt="">
                                            <img src="http://demos.creative-tim.com/material-kit-pro/assets/img/faces/kendall.jpg" class="img img-raised img-rounded" alt="">
                                            <img src="http://demos.creative-tim.com/material-kit-pro/assets/img/faces/card-profile5-square.jpg" class="img img-raised img-rounded" alt="">
                                            <img src="http://demos.creative-tim.com/material-kit-pro/assets/img/faces/card-profile2-square.jpg" class="img img-raised img-rounded" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <hr>

                            <ul class="pull-left">
                                <li>
                                    <a href="#pablo">
									   Blog
									</a>
                                </li>
                                <li>
                                    <a href="#pablo">
										Presentation
									</a>
                                </li>
                                <li>
                                    <a href="#pablo">
									   Discover
									</a>
                                </li>
                                <li>
                                    <a href="#pablo">
										Payment
									</a>
                                </li>
                                <li>
                                    <a href="#pablo">
										Contact Us
									</a>
                                </li>
                            </ul>

                            <div class="copyright pull-right">
                                Copyright ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>2017 Creative Tim All Rights Reserved.
                            </div>
                        </div>
                    </footer>

                    <!--     *********   END BIG FOOTER     *********      -->

                    <br>
                    <br>

                    <!--     *********    BIG WHITE FOOTER     *********      -->

                    <footer class="footer footer-white footer-big">
                        <div class="container">

                            <div class="content">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h5>About Us</h5>
                                        <ul class="links-vertical">
                                            <li>
                                                <a href="#pablo">
	            								   Blog
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            								   About Us
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Presentation
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Contact Us
	            								</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <h5>Market</h5>
                                        <ul class="links-vertical">
                                            <li>
                                                <a href="#pablo">
	            								   Sales FAQ
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									How to Register
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            								   Sell Goods
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Receive Payment
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Transactions Issues
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Affiliates Program
	            								</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4">
                                        <h5>Social Feed</h5>
                                        <div class="social-feed">
                                            <div class="feed-line">
                                                <i class="fa fa-twitter"></i>
                                                <p>How to handle ethical disagreements with your clients.</p>
                                            </div>
                                            <div class="feed-line">
                                                <i class="fa fa-twitter"></i>
                                                <p>The tangible benefits of designing at 1x pixel density.</p>
                                            </div>
                                            <div class="feed-line">
                                                <i class="fa fa-facebook-square"></i>
                                                <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <h5>Follow Us</h5>
                                        <ul class="social-buttons">
                                            <li>
                                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>

                                        <h5>Numbers Don't Lie</h5>
                                        <h4 class="text-muted">14.521 <small>Freelancers</small></h4>
                                        <h4>1.423.183 <small>Transactions</small></h4>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="copyright pull-center">
                                Copyright ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>2017 Creative Tim All Rights Reserved.
                            </div>
                        </div>
                    </footer>
                    
                    <!--     *********   END BIG WHITE FOOTER     *********      -->
                    
                    <br>
                    <br>
                    
                    <!--     *********    BIG WHITE FOOTER V2     *********      -->
                    
                    <footer class="footer footer-white footer-big">
                        <div class="container">

                            <div class="content">
                                <div class="row">

                                    <div class="col-md-3">
                                        <a href="#pablo"><h5>Material Kit PRO</h5></a>
                                        <p>Probably the best UI Kit in the world! We know you've been waiting for it, so don't be shy!</p>
                                    </div>
                                    <div class="col-md-2">
                                        <h5>About</h5>
                                        <ul class="links-vertical">
                                            <li>
                                                <a href="#pablo">
	            								   Blog
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            								   About Us
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Presentation
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Contact Us
	            								</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2">
                                        <h5>Market</h5>
                                        <ul class="links-vertical">
                                            <li>
                                                <a href="#pablo">
	            								   Sales FAQ
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									How to Register
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            								   Sell Goods
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Receive Payment
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Transactions Issues
	            								</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-2">
                                        <h5>Legal</h5>
                                        <ul class="links-vertical">
                                            <li>
                                                <a href="#pablo">
	            								   Transactions FAQ
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            									Terms &amp; Conditions
	            								</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">
	            								   Licenses
	            								</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>Subscribe to Newsletter</h5>
                                        <p>
                                            Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                                        </p>
                                        <form class="form form-newsletter" method="" action="">

                                            <div class="form-group is-empty">
                                                <input class="form-control" placeholder="Your Email..." type="email">
                                                <span class="material-input"></span></div>

                                            <button type="button" class="btn btn-primary btn-just-icon" name="button">
                                                <i class="material-icons">mail</i>
                                            </button>

                                        </form>
                                    </div>

                                </div>
                            </div>

                            <hr>

                            <ul class="social-buttons">
                                <li>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-google">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-youtube">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="copyright pull-center">
                                Copyright ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>2017 Creative Tim All Rights Reserved.
                            </div>
                        </div>
                    </footer>
                    <!--     *********   END BIG WHITE FOOTER v2     *********      -->
                </div>
            </div>