        <div class="section cd-section section-notifications" id="notifications">
            <div class="container">
                <div class="space-70"></div>
                <div class="title">
                    <h3>Notifications</h3>
                </div>
            </div>

            <div class="alert alert-info">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>

                    <b>Info alert:</b> Você tem antecipações pendentes, consulte suas antecipações para obter mais detahles.
                </div>
            </div>
            <div class="alert alert-success">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">check</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Success Alert:</b> Venda efetuada com sucesso!
                </div>
            </div>
            <div class="alert alert-warning">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">warning</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Warning Alert:</b> Suas alterações foram salvas com observações.
                </div>
            </div>
            <div class="alert alert-danger">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">error_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Error Alert:</b> Não foi passóvel alterar suas informações, por favor tente novamente.
                </div>
            </div>
            <div class="clearfix"></div>
        </div>