<div class="col-md-6">
    <div class="title">
        <h3>Modal</h3>
    </div>

    <button class="btn btn-primary btn-raised btn-round" data-toggle="modal" data-target="#myModal">
        Classic modal
    </button>
    <button class="btn btn-raised btn-round btn-info" data-toggle="modal" data-target="#noticeModal">
        Notice modal
    </button>
    <button class="btn btn-raised btn-round btn-rose" data-toggle="modal" data-target="#smallAlertModal">
        Small alert modal
    </button>
</div>