<div class="col-sm-3">
    <div class="title">
        <h3>Checkboxes</h3>
    </div>

    <div class="checkbox">
        <label>
            <input name="optionsCheckboxes" type="checkbox"><span class="checkbox-material"></span>
            Unchecked
        </label>
    </div>

    <div class="checkbox">
        <label>
            <input name="optionsCheckboxes" checked="" type="checkbox"><span class="checkbox-material"></span>
            Checked
        </label>
    </div>

    <div class="checkbox">
        <label>
            <input name="optionsCheckboxes" disabled="" type="checkbox"><span class="checkbox-material"></span>
            Disabled Unchecked
        </label>
    </div>

    <div class="checkbox">
        <label>
            <input name="optionsCheckboxes" disabled="" checked="" type="checkbox"><span class="checkbox-material"></span>
            Disabled Checked
        </label>
    </div>

</div>