<!--<nav class="navbar navbar-primary" role="navigation">-->
   <nav class="navbar navbar-primary navbar-fixed-top navbar-primary" role="navigation" id="sectionsNav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="menu">
                <div class="img-menu">
                    <a class="link_click clearMargin" role="tab" data-toggle="tab">
                        <i id="1" class="material-icons clearMargin" style="color:#fff; font-size:45px !important;">dehaze</i>
<!-- <i id="2" class="material-icons clearMargin" style="color:red; font-size:45px !important;">dehaze</i>-->
                    </a>
                </div>
                <div id="cssmenu" style="display: block;">
                    <ul id="menuContent">
                        <li class="has-sub"><a href="">Administrativo</a>
                            <ul>
                                <li class="has-sub"><a href="">Minhas Solicitações</a>
                                    <ul>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/processo/FrmManterProcessoAssociado.aspx">Pesquisar</a></li>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/processo/FrmProcessoAssociado.aspx">Incluir</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="">Segurança</a>
                                    <ul>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/seguranca/FrmAlterarSenha.aspx">Alterar Senha</a></li>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/seguranca/FrmManterUsuarioAdicional.aspx">Manter Usuários adicionais</a></li>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/seguranca/FrmAtividadeUsuariosAdicionais.aspx">Atividades Usuários adicionais</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/administrativo/FrmMeusClientes.aspx">Meus Clientes</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/administrativo/FrmMeusDados.aspx">Meus Dados - Tarifas</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/administrativo/FrmCancelarSistema.aspx">Cancelamento Sistema</a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a href="">Conta Eletrônica</a>
                            <ul>
                                <li class="has-sub"><a href="">Consultas</a>
                                    <ul>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/consulta/FrmNovaConsulta.aspx">Consulta Serveloja</a></li>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/consulta/FrmHistoricoConsulta.aspx">Histórico Consulta</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="">Recarga</a>
                                    <ul>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/recarga/FrmRecarga.aspx">Inserir Recarga</a></li>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/recarga/FrmExtratoRecarga.aspx">Extrato Recarga</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="">Central de SMS</a>
                                    <ul>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/centralSms/FrmAgendarSms.aspx">SMS Marketing</a></li>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/centralSms/FrmControleAgendamento.aspx">Agendamentos Realizados</a></li>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/centralSms/FrmExtratoSms.aspx">Extrato de Envio</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/financeiro/FrmComprarCreditos.aspx">Comprar Crédito</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/contaEletronica/FrmExtratoContaEletronica.aspx">Extrato Conta Eletrônica</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/financeiro/FrmTransCreditoContaEletronica.aspx">Transferir Créditos</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/financeiro/FrmTransCreditoContaEletronicaUsuario.aspx">Resgatar Créditos</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/negativacaoCredito/FrmNegativacaoCredito.aspx">Negativação de Crédito</a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a href="">Gerencia Loja</a>
                            <ul>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/erp/FrmInstalacao.aspx">Instalar Módulo</a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a href="">Crediário</a>
                            <ul>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/crediario/FrmMontarCarne.aspx">Carnê</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/crediario/FrmMontarCartaCobranca.aspx">Carta Cobrança</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/crediario/ViewGerenciaBoleto.aspx">Gerência de Boletos</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/crediario/FrmMensagemBoleto.aspx">Mensagens para Boleto</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/crediario/FrmCapaCarne.aspx">Capa Carnê</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/crediario/FrmGrupoBoleto.aspx">Grupo de clientes</a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a href="">Financeiro</a>
                            <ul>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/financeiro/FrmConciliacaoMovimentos.aspx">Conciliação de Movimentos</a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a href="">Cartão</a>
                            <ul>
                                <li class="has-sub"><a href="">Solicitação Estorno</a>
                                    <ul>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/cartao/estorno/FrmEstornar.aspx">Solicitar</a></li>
                                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/cartao/estorno/ViewEstornos.aspx">Consultar</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/cartao/FrmVendasCredito.aspx">Vender no Crédito</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/cartao/FrmConfigurarVendasCreditoComLink.aspx">Gerar Link de venda</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/cartao/FrmSimularVendaAntecipacao.aspx">Simular Venda e Antecipação</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/cartao/FrmVendaInternacional.aspx">Vender para Estrangeiro</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/cartao/FrmAnteciparVenda.aspx">Antecipar Vendas</a></li>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/cartao/FrmInstalacaoCartoes.aspx">Bandeiras adicionais</a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a href="">Mensalidades</a>
                            <ul>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/financeiro/mensalidades/FrmListarMensalidades.aspx">Minhas Mensalidades</a></li>
                            </ul>
                        </li>
                        <li><a href="http://webcliente.servelojadev.com:80/App_Modules/diversos/downloads/FrmDownloads.aspx">Downloads</a></li>
                        <li class="has-sub"><a href="">Relatório</a>
                            <ul>
                                <li><a href="http://webcliente.servelojadev.com:80/App_Modules/Relatorio/FrmParametros.aspx">Parâmetros</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active" style="padding:5px;"><img src="../../assets/img/serveloja/icon-logo-admin.svg" style="width:120px;"></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <i class="material-icons">explore</i> Discover
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">account_circle</i> Profile
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">settings</i> Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>