<!--DOC - http://bootstrap-notify.remabledesigns.com/ -->

<button class="btn btn-primary" onclick="Notify('primary', 'left', 'top', '<strong>Left top primary!</strong>', 'You can use any of bootstraps other alert styles as well by default.')">Left top</button>
<button class="btn btn-success" onclick="Notify('success', 'right', 'top', '<strong>Right top success!</strong>', 'You can use any of bootstraps other alert styles as well by default.')">Right top</button>
<button class="btn btn-info" onclick="Notify('info', 'left', 'bottom', '<strong>Left bottom info!</strong>', 'You can use any of bootstraps other alert styles as well by default.')">Left bottom</button>
<button class="btn btn-warning" onclick="Notify('warning', 'right', 'bottom', '<strong>Right bottom!</strong>', 'You can use any of bootstraps other alert styles as well by default.')">Right bottom</button>
<button class="btn btn-danger" onclick="Notify('danger', 'center', 'top', '<strong>Center top!</strong>', 'You can use any of bootstraps other alert styles as well by default.')">Right bottom</button>
<button class="btn btn-rose" onclick="Notify('rose', 'center', 'bottom', '<strong>Center top!</strong>', 'You can use any of bootstraps other alert styles as well by default.')">Right bottom</button>