<div class="col-sm-3">
    <div class="title">
        <h3>Radio Buttons</h3>
    </div>

    <div class="radio">
        <label>
            <input name="optionsRadios" type="radio">
            <span class="circle"></span>
            <span class="check"></span> Radio is off
        </label>
    </div>
    <div class="radio">
        <label>
            <input name="optionsRadios" checked="true" type="radio">
            <span class="circle"></span>
            <span class="check"></span> Radio is on
        </label>
    </div>
    <div class="radio">
        <label>
            <input name="optionsRadiosDisabled" disabled="" type="radio">
            <span class="circle"></span>
            <span class="check"></span> Disabled Radio is off
        </label>
    </div>
    <div class="radio">
        <label>
            <input name="optionsRadiosDisabled" checked="true" disabled="" type="radio">
            <span class="circle"></span>
            <span class="check"></span> Disabled Radio is on
        </label>
    </div>
</div>