     <div id="navbar">

                <div class="navigation-example">

                    <!--        rose navbar with search form -->
                    <nav class="navbar navbar-rose">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#pablo">Brand</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a href="#pablo">Link</a>
                                    </li>
                                    <li>
                                        <a href="#pablo">Link</a>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="form-group form-white is-empty">
                                        <input class="form-control" placeholder="Search" type="text">
                                        <span class="material-input"></span></div>
                                    <button type="submit" class="btn btn-white btn-raised btn-fab btn-fab-mini"><i class="material-icons">search</i></button>
                                </form>

                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                    <!--        end rose navbar -->

                    <!--        info navbar -->
                    <nav class="navbar navbar-info">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-info">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#pablo">Info Color</a>
                            </div>

                            <div class="collapse navbar-collapse" id="example-navbar-info">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a href="/index3.html">
		                                    Discover
		                                </a>
                                    </li>
                                    <li>
                                        <a href="#pablo">
		                                    Profile
		                                </a>
                                    </li>
                                    <li>
                                        <a href="#pablo">
		                                    Settings
		                                </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!--        end info navbar -->

                    <!--        primary navbar  -->
                    <nav class="navbar navbar-primary">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-primary">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#pablo">Primary Color</a>
                            </div>

                            <div class="collapse navbar-collapse" id="example-navbar-primary">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a href="#pablo">
                                            <i class="material-icons">explore</i> Discover
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#pablo">
                                            <i class="material-icons">account_circle</i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#pablo">
                                            <i class="material-icons">settings</i> Settings
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!--        end primary navbar -->

                    <!--         inverse navbar with notifications     -->
                    <nav class="navbar navbar-inverse" role="navigation-demo">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#pablo">Navbar with notification</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navigation-example-2">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="#pablo">
	                                    Discover
	                                </a>
                                    </li>
                                    <li>
                                        <a href="#pablo">
	                                    Wishlist
	                                </a>
                                    </li>
                                    <li>
                                        <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-fab-mini" data-toggle="dropdown">
                                            <i class="material-icons">email</i>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#pablo" class="profile-photo dropdown-toggle" data-toggle="dropdown">
                                            <div class="profile-photo-small">
                                                <img src="http://demos.creative-tim.com/material-kit-pro/assets/img/faces/avatar.jpg" alt="Circle Image" class="img-circle img-responsive">
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-header">
                                                Dropdown header
                                            </li>
                                            <li>
                                                <a href="#pablo">Me</a>
                                            </li>
                                            <li>
                                                <a href="#pablo">Settings and other stuff</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#pablo">Sign out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-->
                    </nav>
                    <!--            end inverse navbar -->

                    <!--        default navbar with profile photo -->
                    <nav class="navbar navbar-default" role="navigation-demo">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#pablo">Navbar with profile</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navigation-example-2">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="#pablo">
	                                    Discover
	                                </a>
                                    </li>
                                    <li>
                                        <a href="#pablo">
	                                    Wishlist
	                                </a>
                                    </li>

                                    <li>
                                        <a href="#pablo" class="btn btn-rose btn-raised btn-round" data-toggle="dropdown">
	                                    Register
	                                </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-->
                    </nav>
                    <!--                end default navbar -->

                    <!--        transparent navbar -->
                    <nav class="navbar navbar-transparent">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-transparent">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#pablo">Transparent</a>
                            </div>

                            <div class="collapse navbar-collapse" id="example-navbar-transparent">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="#pablo">
                                            <i class="fa fa-facebook-square"></i> Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#pablo">
                                            <i class="fa fa-twitter"></i> Twitter
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#pablo">
                                            <i class="fa fa-instagram"></i> Instagram
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!--        end transparent navbar-->

                </div>
            </div>